[connection]
id=${interface}
type=ethernet
interface-name=${interface}
[ipv4]
address1=${address_cidr},${gateway}
dhcp-hostname=${hostname}
dns=${nameserver};
dns-search=
may-fail=false
method=manual
